<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PaLevá - Cozinha</title>
  <link rel="shortcut icon" href="pa-leva.png" type="image/x-icon">
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <header>
      <img src="pa-leva.png" alt="pa-leva" style="width: 70px;"> 
      <span>Cozinha!</span>
  </header>
  <div id="app" class="main">

    <h1>Aguardando Confirmação</h1>
    <div v-if="!selectedOrder" class="order-list">
      <div v-for="order in pendingOrders" :key="order.code" class="order-item" @click="selectOrder(order)">
        <p><strong>Pedido # {{ order.order_code }}</strong></p>
        <p>Cliente: {{ order.customer_name }}</p>
        <p>Horário: {{ formatDate(order.created_at) }}</p>
      </div>
      <p v-if="pendingOrders.length === 0">Nenhum pedido pendente.</p>
    </div><br>

    <h1>Em Preparo</h1>
    <div v-if="!selectedOrder" class="order-list">
      <div v-for="order in preparingOrders" :key="order.code" class="order-item" @click="selectOrder(order)">
        <p><strong>Pedido # {{ order.order_code }}</strong></p>
        <p>Cliente: {{ order.customer_name }}</p>
        <p>Horário: {{ formatDate(order.created_at) }}</p>
      </div>
      <p v-if="preparingOrders.length === 0">Nenhum pedido em preparo.</p>
    </div>
    
    <div v-if="selectedOrder" class="order-details">
      <h2>Detalhes do Pedido # {{ selectedOrder.order_code }}</h2>
      <p><strong>Cliente:</strong> {{ selectedOrder.customer_name }}</p>
      <p><strong>Status:</strong> {{ translateStatus(selectedOrder.status) }}</p>
      <p><strong>Horário:</strong> {{ formatDate(selectedOrder.created_at) }}</p>
      <p><strong>Itens:</strong></p>
      
      <div v-for="item in selectedOrder.order_items_details" :key="item.id" class="order-item">
        <p v-if="item.dish_name"> 
          {{ item.dish_name }} - <b> {{ item.portion_name }} x{{ item.quantity }} |</b> {{ item.note }}
        </p>
        <p v-if="item.beverage_name"> 
          {{ item.beverage_name }} - <b> {{ item.portion_name }} x{{ item.quantity }} |</b> {{ item.note }}
        </p>
      </div>

      <button 
        @click="clearSelection" 
        class="back-button">
        Voltar
      </button>
      <button v-if="selectedOrder.status === 'waiting_confirmation'" 
        @click="acceptOrder(selectedOrder)" 
        class="accept-button">
        Aceitar Pedido
      </button>
      <button v-if="selectedOrder.status === 'in_preparation'" 
        @click="markAsReady(selectedOrder)" 
        class="ready-button">
        Marcar como Pronto
      </button>
      <button v-if="selectedOrder.status !== 'cancelled'"
        @click="cancelOrder(selectedOrder)"
        class="cancel-button">
        Cancelar Pedido
      </button>
    </div>

  </div>

  <footer>
    <p>&copy;<a href="https://www.linkedin.com/in/marcos-grocha/" target="_blank"> marcos-grocha</a></p>
  </footer><br>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>
</html>
