header {
  position: fixed; 
  top: 0;
  left: 0; 
  width: 100%; 
  text-align: center;
  padding: 12px;
  background-color: rgba(254, 254, 254, 0.75);
  z-index: 1000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
  margin-right: 10px;
}
header span {
  margin-left: 10px;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding-top: 85px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(300deg, #000000bd, #14213db3, #fca211b9, #e5e5e5, #ffffff);
  min-height: 100vh;
}
.order-list {
  margin: 20px 0;
}
.order-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  cursor: pointer;
}
.order-item:hover {
  background-color: #f9f9f9;
}
.order-details {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
}
.back-button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 3px;
  margin: 3px;
}
.back-button:hover {
  background-color: #14213db3;
}
.accept-button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 3px;
  margin: 3px;
}
.accept-button:hover {
  background-color: #fca211b9;
}
.ready-button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  margin: 3px;
}
.ready-button:hover {
  background-color: #45a049;
}
.cancel-button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  margin: 3px;
}
.cancel-button:hover {
  background-color: darkred;
}
.main {
  background:  rgba(255, 255, 255, 0.65);
  border-radius: 15px;
  text-align: center;
  padding: 25px;
  width: 550px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.65);
}
footer {
  color: white;
  text-align: center;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.15);
  width: 170px;
  margin: auto;
  border-radius: 15px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: orange;
  text-decoration: underline;
}
